@charset "ISO-8859-1";

/*##############################################################################################################################################################################################################################################*/
/*usersearch*/
/*##############################################################################################################################################################################################################################################*/

.usersearch-container{
	margin-top: 0;
	text-align: center;
	padding: 5%;
	position: relative;
}

/*##############################################################################################################################################################################################################################################*/
/*category*/
/*##############################################################################################################################################################################################################################################*/

.category-container{
	text-align: center;
	width: 100%;
	margin-bottom: 5%;
	position: relative;
}

.category > select{
	background: none;
	color: black;
	font-weight: bold;
	padding: 2%;
	width: 15%;
	font-size: 1.1em;
	border: 0;
}

.category > select::-ms-expand{
	display: none;
}

.category{
	background: #99d6d6 no-repeat scroll center;
	border-radius: 0.2em;
	padding: 0.6%;
	margin: 0.4%;
}


/*##############################################################################################################################################################################################################################################*/
/*searchresult*/
/*##############################################################################################################################################################################################################################################*/

.searchresult-container{
	position: relative;
	width: 100%;
}

.searchresult{
	display: inline-block;
	margin: 1.5%;
	padding: 2%;
}

.searchreult > img{
	width: 50%;
	height: 50%;
}

.searchresult > a {
	text-decoration: none;
	color: black;
	display: inline-block;
}