@charset "ISO-8859-1";
table, th, td {
    border: 1px solid #d1d1d1;
    border-collapse: collapse;
}

.lieferung{
	display: inline;
	font-size: 1.2em;
	position: absolute;
	right: 17%;
}

.kasse {
	position: absolute;
	right: 12%;
	margin-top: 1%;
}